// Homepage Layout

.main {
    flex-direction: column;
    padding: 1.2em 0;
    color: $med;

    .title {
        font-family: $header-font;
        font-size: 6em;
        font-weight: 900;
        color: $light;
        text-transform: uppercase;
        margin-top: 0.3em;
        margin-bottom: 0.4em;
        letter-spacing: -0.08em;

        .hover:hover {
            color: $med;
            transition: all 0.3s ease-out;
        }
    }

    .tagline {
        font-family: $font-family;
        font-size: 1.2em;
        letter-spacing: -0.01em;
        line-height: 2em;
        font-weight: 300;

        .emphasis {
            font-weight: 500;
            color: $dark;
        }

        .link {
            font-family: $font-family;
            font-weight: 500;
            outline: none;
            text-decoration: none;
            position: relative;
            display: inline-block;
            color: $light;
            overflow: hidden;
            border-bottom: 1px solid $light;

            &:hover {
                &::after {
                    -webkit-transform: translate3d(100%,0,0);
                    transform: translate3d(100%,0,0);
                }

                &::before {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                top: 50%;
                right: 0;
                background: #f3f3f3;
                -webkit-transform: translate3d(-100%,0,0);
                transform: translate3d(-100%,0,0);
                -webkit-transition: -webkit-transform 0.4s;
                transition: transform 0.4s;
                -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
                transition-timing-function: cubic-bezier(0.7,0,0.3,1);
            }

            &::before {
                content: attr(data-letters);
                position: absolute;
                z-index: 2;
                overflow: hidden;
                color: $dark;
                white-space: nowrap;
                width: 0%;
                -webkit-transition: width 0.4s 0.3s;
                transition: width 0.4s 0.3s;
            }
        }
    }
}

.proficiencies {
    flex-direction: row;
    color: $dark;
    padding: 1.2em 0;

    h3 {
        color: $light;
        font-family: $header-font;
        text-transform: uppercase;
        font-size: 1.2em;
        letter-spacing: 0.02em;
        font-weight: 700;
        padding-left: 0;

        &:hover {
            color: $med;
            transition: all 0.3s;
        }
    }

    .design, .development {
        padding-left: 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            font-family: $font-family;
            font-size: 1.2em;
            letter-spacing: -0.01em;
            line-height: 2em;
            font-weight: 300;
        }

        .strong {
            font-weight: 500;
        }

        .okay {
            color: $med;
        }

        .needsWork {
            color: $light;
        }
    }
}

.caseStudies {
    color: $dark;
    padding: 1.2em 0;

    h3 {
        color: $light;
        font-family: $header-font;
        text-transform: uppercase;
        font-size: 1.2em;
        letter-spacing: 0.02em;
        font-weight: 700;
        padding-left: 0;

        &:hover {
            color: $med;
            transition: all 0.3s;
        }
    }

    .caseStudy {
        margin: 0.5em 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        border: none;
        border-radius: 0;
        overflow: hidden;

        img {
            max-width: 100%;
            transform: translate3d(-105%, 0px, 0px);
        }

        .link {
            outline: none;
            text-decoration: none;
            position: relative;
            display: inline-block;
            color: $light;
            font-family: $header-font;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 4em;
            line-height: 0.8em;
            overflow: hidden;

            &:hover {
                &::after {
                    -webkit-transform: translate3d(100%,0,0);
                    transform: translate3d(100%,0,0);
                }

                &::before {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                height: 16px;
                width: 100%;
                top: 50%;
                margin-top: -8px;
                right: 0;
                background: #f3f3f3;
                -webkit-transform: translate3d(-100%,0,0);
                transform: translate3d(-100%,0,0);
                -webkit-transition: -webkit-transform 0.4s;
                transition: transform 0.4s;
                -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
                transition-timing-function: cubic-bezier(0.7,0,0.3,1);
            }

            &::before {
                content: attr(data-letters);
                position: absolute;
                z-index: 2;
                overflow: hidden;
                color: $med;
                white-space: nowrap;
                width: 0%;
                -webkit-transition: width 0.4s 0.3s;
                transition: width 0.4s 0.3s;
            }
        }

        p {
            color: $dark;
            font-family: $font-family;
            font-weight: 300;
            font-size: 1em;
        }

        &:hover img {
            transform: translate3d(0, 0, 0);
            transition: transform 0.3s ease-out;
        }
    }
}

.contact {
    color: $dark;
    padding: 1.2em 0;

    h3 {
        color: $light;
        font-family: $header-font;
        text-transform: uppercase;
        font-size: 1.2em;
        letter-spacing: 0.02em;
        font-weight: 700;
        padding-left: 0;

        &:hover {
            color: $med;
            transition: all 0.3s;
        }
    }

    i {
        padding: 5px;
        color: $light;

        &:hover {
            color: $med;
            transition: all 0.3s;
        }
    }

    .footer {
        font-family: $font-family;
        font-size: 1.2em;
        letter-spacing: -0.01em;
        padding-top: 30px;
        line-height: 2em;
        font-weight: 300;

        .link {
            font-family: $font-family;
            font-weight: 500;
            outline: none;
            text-decoration: none;
            position: relative;
            display: inline-block;
            color: $light;
            overflow: hidden;
            border-bottom: 1px solid $light;

            &:hover {
                &::after {
                    -webkit-transform: translate3d(100%,0,0);
                    transform: translate3d(100%,0,0);
                }

                &::before {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                top: 50%;
                right: 0;
                background: #f3f3f3;
                -webkit-transform: translate3d(-100%,0,0);
                transform: translate3d(-100%,0,0);
                -webkit-transition: -webkit-transform 0.4s;
                transition: transform 0.4s;
                -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
                transition-timing-function: cubic-bezier(0.7,0,0.3,1);
            }

            &::before {
                content: attr(data-letters);
                position: absolute;
                z-index: 2;
                overflow: hidden;
                color: $dark;
                white-space: nowrap;
                width: 0%;
                -webkit-transition: width 0.4s 0.3s;
                transition: width 0.4s 0.3s;
            }
        }
    }

    .copyright {
        font-family: $font-family;
        font-size: 0.8em;
        font-weight: 300;
        color: $light;
    }
}
