// Homepage Layout

.main {
    flex-direction: column;
    padding: 1.2em 0;
    color: $black;

    .title {
        font-family: $header-font;
        font-size: 6em;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: 0.3em;
        margin-bottom: 0.4em;
    }

    .tagline {
        font-family: $font-family;
        font-size: 1.2em;
        letter-spacing: -0.01em;
        line-height: 2em;
        font-weight: 300;

        .emphasis {
            font-weight: 500;
        }

        a {
            border-bottom: 1px solid #0275d8;
            padding-bottom: 2px;

            &:hover {
                text-decoration: none;
                border-bottom: 2px solid #014c8c;
            }
        }
    }
}

.proficiencies {
    flex-direction: row;
    color: $black;

    h3 {
        color: $black;
        font-family: $header-font;
        text-transform: uppercase;
        font-size: 1.2em;
        letter-spacing: 0.02em;
        font-weight: 900;
        padding-left: 0;
    }

    .development {
        padding-left: 0;
    }

    .design {
        padding-left: 0;
    }
}
