// Define typography
html {
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
}

// Document Global Styles
.container {
    max-width: 50em;
    padding: 0 2em;
}

body {
    background-color: $body-bg;
    border: 5px solid $med;
    min-height: 100vh;
}

// Vertically center anything
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
