// Bootstrap Flex-box
$enable-flex: true;

// Typography

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #222;
$font-size: 1rem;
$line-height: 1.2;
$font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
$header-font: 'Rubik', Helvetica Neue, Helvetica, Arial, sans-serif;

// Colors

$white: #fff;
$black: #222222;
$body-bg: #fff;
$primary-bg: #277f7b;
